
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");


body{
	font-family: "Lato";
	color: #424551;
	line-height: 1.6;
	background-color: #afabeea6;
}
.design{
	max-width: 1500px;
	margin: 0 auto;
}
.circle{
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 75px 0px;
	margin: 0 auto 50px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: #794f453f;
	box-shadow: 10px 10px 8px 4px rgba(114, 12, 3, 0.966), inset 0px 10px 8px 10px rgba(4, 20, 1, 0.363);
}